*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: 130px;
    background-image: linear-gradient(to right,#008000,#00ff00);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    border-bottom: 3px solid black;
    position: fixed;
    z-index: 1;
    
}

.logo{
    /* height: 150px; */
    width: 300px;
    height: 130px;
   
   

}
.logo img{
    height: 100%;
    width: 100%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 2px solid black;
}
nav .title{
    display: flex;
    gap: 70px;
    padding-top: 30px;
        position: relative;
        right: 5%;
}


.title a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.rightnav{
    display: flex;
    flex-direction: column;
    
    gap: 20px;
    font-weight: 700;
    position: relative;
    bottom: 12%;

}


.scanner{
    position: relative;
    right: 5%;
    top: 75%;
    position: fixed;
    z-index: 1;
    background-color: lightseagreen;
    height: 120px;
    width: 120px;
    text-align: center;
}

.scanner img{
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
}

.scannerimg{
    padding: 30px 0px;
    width: 100%;
    height: 500px;
   
    display: flex;
    justify-content: center;
}
.scannerimg img{
    height: 100%;
    width: 400px;
   
}



.modal-header .close{
    background-color: red;
 }

.carousel-inner img {
    height: 600px;
    width: 80%;
    margin: 0 auto;
    object-fit: cover; 
  }
  .carousel {
    height: 600px;
    width: 100%;
    margin: 0 auto; 
  }

.overall{
    min-height: 100vh;
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
    position: relative;
    top: 100px;
}

.contact{
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    color: green;
    margin:20px;
}

form{
    width: 500px;
    min-height: 500px;
    border: 3px solid black;
    border-radius: 10px;
    
    padding-bottom: 20px;
    padding-left: 20px;   
}

input{
    width: 90%;
    height: 40px;
    border-radius: 10px;
    /* border: none; */
  
    padding: 7px;
}
label{
    padding-left: 5px ;
    font-size: 20px;
}

form h1{
    text-align: center;
}

.button{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    

}

form button{
    padding: 5px 20px ;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    background-color: green;
    color: white;
   
    
}

textarea{
    min-height: 90px;
    width: 90%;
    margin: 10px 5px;
    resize: vertical;
    padding: 10px;
    border-radius: 10px;
   background-color: whitesmoke;
   border: 2px solid black;
}
.Address{
    width: 45%;
    
}
.Address li{
    list-style-type: none;
    padding: 20px 10px ;
    
}
.Address li i{
    font-size: 30px;
}
.Address li span{
    margin: 20px;
    font-size: 25px;
}
.Address li a{
    text-decoration: none;
    color: green;
}

.map{
    padding-top: 10px;
    width: 60%;
    height: 400px;
    padding-bottom: 30px;
}

.map iframe{
    width: 100%;
    height: 100%;
}


footer{
    min-height: 300px;
    width: 100%;
    background-image: linear-gradient(to right, #027a08,#6df2c8);
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.quicklink{
    display: flex;
    flex-direction: column;
    
}
.quicklink a{
    text-decoration: none;
    color: white;
    padding: 5px 5px;
}

       /* Details   */
       
.details li{
    list-style-type: none;
    padding: 5px;
}
.details li i{
    font-size: 25px;
}
.details li span{
    margin: 20px;
}
.details a{
    text-decoration: none;
    color: #ffffff;
}
.copyright{
    min-height: 30px;
    width: 100%;
    background-image: linear-gradient(to right, #027a08,#6df2c8);
    text-align: center;
    padding-bottom: 10px;
}

@media only screen and (min-width:670px) and (max-width:930px) {
    .overall{
      
        padding: 10px;
    }
    nav .title {
        gap: 20px;
        right: 5%;
     }
     .title a{
         font-size: 14px;
     }
     nav{
         padding-right: unset;
     }
     .logo{
         width: 280px;
     }
     .map{
        width: 90%;
     }

     .Address li{
        list-style-type: none;
        padding: 20px 5px ;
        
    }
    .Address{
        width: 50%;
    }
    .Address li i{
        font-size: 20px;
    }
    .Address li span{
        margin: 5px;
        font-size: 15px;
        font-weight: 700;
    }
   
}


@media only screen and (min-width:500px) and (max-width:670px) {
   
    nav .title {
        gap: 10px;
        right: 5%;
     }
     .title a{
         font-size: 14px;
     }
     nav{
         padding-right: unset;
         height: 100px;
     }
     .overall{
        position: relative;
        top: 100px;
    }
     .logo{
         width: 200px;
         height: 100px;
     }
  

     .contact{
        flex-direction: column;
    }
    .Address{
        width: 90%;
    }
    form{
        width: 90%;
    }
    .map{
        width: 90%;
     }
 }

 
@media only screen and (min-width:300px) and (max-width:500px) {
   
    
    nav .title {
        gap: 10px;
        right: 5%;
       
     }
     .title a{
         font-size: 10px;
     }
     nav{
         height: 80px;
         padding-right: unset;
         
     }
     .overall{
        position: relative;
        top: 80px;
    }
     .logo{
         width: 120px;
         height: 80px;
     }
     .scannerimg{
          width: 90%;
     }
 

     .contact{
        flex-direction: column;
    }
    .Address{
        width: 90%;
    }
    form{
        width: 90%;
    }
    .map{
        width: 90%;
     }
     .Address{
        width: 100%;
        padding: 10px;
    }
    .Address li i{
        font-size: 20px;
      
    }
    .Address li span{
        margin: 5px;
        font-size: 15px;
        font-weight: 700;
    }
    .Address li{
        list-style-type: none;
        padding: 10px 5px ;
        
    }
    footer{
        flex-direction: column;
        align-items: start;
        padding: 20px 5px;
        gap: 20px;
    }
    .details li i {
        font-size: 15px;
    }

    .copyright a i{
        font-size: 15px;
    }
    .scanner {
        height: 100px;
        width: 100px;
    }
 }
   
   


    



